#define MANIFEST 24
#define IDD_DLG_ZRJ 1000
#define IDC_STC_USR 1001
#define IDC_STC_PAS 1002
#define IDC_EDT_USR 1003
#define IDC_EDT_PAS 1004
#define IDC_CHK_AUTO_CON 1005
#define IDC_CHK_AUTO_MIN 1006
#define IDC_BTN_CONN 1007
#define IDC_BTN_EXIT 1008
#define IDC_CBO_LIST 1009
#define IDC_EDT_INFO 1010
#define IDR_XPMANIFEST1 1
#define IDI_ICON_RJ 1986
#define IDR_VERSION1 1

#include <windows.h>

IDD_DLG_ZRJ DIALOGEX 100,100,127,156
CAPTION "clientNX"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "Username",IDC_STC_USR,"Static",WS_CHILDWINDOW|WS_VISIBLE,6,6,39,9
  CONTROL "Password",IDC_STC_PAS,"Static",WS_CHILDWINDOW|WS_VISIBLE,5,24,36,9
  CONTROL "",IDC_EDT_USR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,48,6,69,12,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT_PAS,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL|ES_PASSWORD,48,24,69,12,WS_EX_CLIENTEDGE
  CONTROL "Auto Conn.",IDC_CHK_AUTO_CON,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,6,45,48,9
  CONTROL "Auto Min.",IDC_CHK_AUTO_MIN,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,72,45,48,9
  CONTROL "Connect",IDC_BTN_CONN,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,6,60,54,15
  CONTROL "Exit",IDC_BTN_EXIT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,66,60,54,15
  CONTROL "",IDC_CBO_LIST,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,6,81,114,30
  CONTROL "",IDC_EDT_INFO,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|ES_WANTRETURN|ES_READONLY|ES_AUTOVSCROLL|ES_MULTILINE,6,102,114,48,WS_EX_CLIENTEDGE
END

IDR_XPMANIFEST1 MANIFEST "xpmanifest.xml"

IDI_ICON_RJ ICON DISCARDABLE "clientDT.ico"

IDR_VERSION1 VERSIONINFO
FILEVERSION 0,2,0,0
PRODUCTVERSION 0,2,0,0
FILEOS 0x00000004
FILETYPE 0x00000000
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF0000"
    BEGIN
      VALUE "FileVersion", "2.0.0.9\0"
      VALUE "ProductVersion", "$Revision: 103 $\0"
      VALUE "CompanyName", "PT Work. http://apt-blog.net\0"
      VALUE "FileDescription", "DigitalChina 802.1x Client.\0"
      VALUE "LegalCopyright", "MIT Licences\0"
      VALUE "OriginalFilename", "clientDT.exe\0"
      VALUE "ProductName", "clientDT\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x0000
  END
END

